@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap');

:root {
  --primary-color: #7c59b0;
  --second-color: #411386;
  --border-radius: 10px;
  --red-color: rgb(201, 42, 42);
}

body {
  background-color: var(--second-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='77' height='107' viewBox='0 0 77 107'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='stamp-collection' fill='%239c92ac' fill-opacity='0.4'%3E%3Cpath d='M46 101a5 5 0 0 1 5 5h5a5 5 0 0 1 10 0h5a5 5 0 0 1 5-5v-5a5 5 0 0 1 0-10v-5a5 5 0 0 1 0-10v-5a5 5 0 0 1 0-10v-5a5 5 0 0 1 0-10v-5a5 5 0 0 1 0-10v-5a5 5 0 0 1 0-10V6a5 5 0 0 1-5-5h-5a5 5 0 0 1-10 0h-5a5 5 0 0 1-10 0h-5a5 5 0 0 1-10 0h-5a5 5 0 0 1-10 0H6a5 5 0 0 1-5 5v5a5 5 0 0 1 0 10v5a5 5 0 0 1 0 10v5a5 5 0 0 1 0 10v5a5 5 0 0 1 0 10v5a5 5 0 0 1 0 10v5a5 5 0 0 1 0 10v5a5 5 0 0 1 5 5h5a5 5 0 0 1 10 0h5a5 5 0 0 1 10 0h5a5 5 0 0 1 5-5zm15-2a7 7 0 0 0-6.71 5h-1.58a7 7 0 0 0-13.42 0h-1.58a7 7 0 0 0-13.42 0h-1.58a7 7 0 0 0-13.42 0H7.71A7.01 7.01 0 0 0 3 99.29v-1.58a7 7 0 0 0 0-13.42v-1.58a7 7 0 0 0 0-13.42v-1.58a7 7 0 0 0 0-13.42v-1.58a7 7 0 0 0 0-13.42v-1.58a7 7 0 0 0 0-13.42v-1.58A7 7 0 0 0 3 9.29V7.71A7.02 7.02 0 0 0 7.71 3h1.58a7 7 0 0 0 13.42 0h1.58a7 7 0 0 0 13.42 0h1.58a7 7 0 0 0 13.42 0h1.58a7 7 0 0 0 13.42 0h1.58A7.02 7.02 0 0 0 74 7.71v1.58a7 7 0 0 0 0 13.42v1.58a7 7 0 0 0 0 13.42v1.58a7 7 0 0 0 0 13.42v1.58a7 7 0 0 0 0 13.42v1.58a7 7 0 0 0 0 13.42v1.58a7 7 0 0 0 0 13.42v1.58a7.01 7.01 0 0 0-4.71 4.71h-1.58A7 7 0 0 0 61 99zM12 12h53v83H12V12zm51 81H14V14h49v79z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

h1 {
  color: white;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: var(--border-radius);
  margin: 20px auto 10px;
  cursor: pointer;
  text-transform: uppercase;
  width: 275px;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  transition: background-color .3s ease;
}
h1:hover {
  background-color: rgba(0, 0, 0, .5);
}
.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}
.item {
  background-color: rgba(0, 0, 0, .3);
  border-radius: var(--border-radius);
  color: white;
  padding: 20px;
  margin: 10px;
  transition: background-color .3s ease-in-out;
}
.item:hover {
  background-color: rgba(0, 0, 0, .6);
}
.fa-times {
  float: right;
  cursor: pointer;
  z-index: 2;
  color: rgba(197, 163, 163, .5);
  transition: color .2s ease;
  font-size: 18px !important;
}
.fa-times:hover {
  color: rgba(197, 163, 163, 1);
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-right: 20px;
}
.name img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
.name a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: color .4s ease-in-out;
}
.name a:visited {
  text-decoration: line-through;
}
.name a:hover, .name a:active {
  color: rgb(224, 248, 88);
  text-decoration: underline;
}

.modal-container {
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal {
  background-color: white;
  border-radius: var(--border-radius);
  max-width: 95%;
  width: 500px;
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: scale(.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close-icon {
  font-size: 22px !important;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  cursor: pointer;
  transition: color .3s ease-in-out;
  color: #bb4774;
}
.close-icon:hover {
  color: var(--red-color);
}
.modal-header {
  background-color: var(--second-color);
  padding: 15px;
  color: white;
}
.modal-header h3 {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.modal-content {
  background-color: whitesmoke;
  padding: 20px;
}
.form-group {
  height: 55px;
}
.form-group:last-of-type {
  margin-top: 10px;
}
.form-label {
  display: block;
  font-family: 'Poppins', sans-serif;
}
.form-input {
  width: 97%;
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  display: block;
  outline: none;
  transition: background-color .2s ease;
}
.form-input:active, .form-input:hover {
  background-color: #e4d3ff;
}
#bookmark-form button {
  cursor: pointer;
  background-color: var(--second-color);
  color: white;
  height: 30px;
  width: 100px;
  margin: 5px auto;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  transition: filter .3s ease-in;
  display: block;
}
#bookmark-form button:hover {
  filter: brightness(120%);
}

/* Large smartphones */
@media screen and (max-width: 600px){
  .container {
    flex-direction: column;
  }
}