body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
}
h1 {
  letter-spacing: 4px;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
}
.image-container {
  margin: 10px 30%;
}
.image-container img {
  width: 100%;
  margin-top: 10px;
}  

#loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 130px;
}
.lds-hourglass:after {
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 67px solid black;
  border-color: #ba66ff transparent #66ffa1 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@media screen and (max-width: 600px){
  h1 {
    font-size: 25px;
  }
  .image-container {
    margin: 10px;
  }
}